<h3 class="hello">
  <%= link_to 'Listing articles', controller: 'welcome' %>
</h3>

Our blog has <%= Article.public_count %> public articles!

<p class="link">
  <%= link_to 'New article', new_article_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Status</th>
    <th colspan="4"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= article.status %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', controller: 'welcome' %>
